* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
}

video {
    background: rgb(19, 18, 18);
}

.container {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: minmax(200px, 500px);
}
